#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config NET_IEEE80211
	bool "IEEE 802.11 stack support"
	default n
	---help---
		Enable support to WiFi (IEEE 802.11) stack for NuttX.
		This IEEE80211 stack is derivated from OpenBSD kernel.

if NET_IEEE80211

config IEEE80211_AP
	bool "Enable access point support"
	default n

endif
